Repository ita-social-projects/StreetCode, pull requests merged in 2023-04, with the labels that each got.

#165 Fixed related figures behavior with new Streeetcode link
  Streetcode/Streetcode.BLL/DTO/Streetcode/RelatedFigureDTO.cs
  Streetcode/Streetcode.BLL/Mapping/Streetcode/RelatedFigureProfile.cs
Labels: bug, (Epic#1) StreetCode page

#171 Separate migration
  Streetcode/Streetcode.DAL/Persistence/ScriptsMigration/All_migrations_apply.sql
  Streetcode/Streetcode.DAL/Persistence/ScriptsSeeding/script_mtom-seeding.sql
  Streetcode/Streetcode.DAL/Persistence/StreetcodeDbContext.cs
  Streetcode/Streetcode.DAL/StreetCode.DAL.csproj
  Streetcode/Streetcode.WebApi/Extensions/WebApplicationExtensions.cs
  Streetcode/Streetcode.WebApi/Program.cs
Labels: (Epic#2) Admin/New StreetCode

#170 Add tests for Partners
  Streetcode/Streetcode.XUnitTest/MediatRTests/Partners/CreatePartnerTest.cs
  Streetcode/Streetcode.XUnitTest/MediatRTests/Partners/DeletePartnerTest.cs
  Streetcode/Streetcode.XUnitTest/MediatRTests/Partners/GetAllPartnersTest.cs
  Streetcode/Streetcode.XUnitTest/MediatRTests/Partners/GetParnerByStreetcodeIdTest.cs
  Streetcode/Streetcode.XUnitTest/MediatRTests/Partners/GetPartnerByIdTest.cs
Labels: issue

#173 Blob storage env variables
  Streetcode/Streetcode.BLL/Services/BlobStorageService/BlobEnvirovmentVariables.cs
  Streetcode/Streetcode.BLL/Services/BlobStorageService/BlobService.cs
  Streetcode/Streetcode.WebApi/Extensions/ConfigureHostBuilderExtensions.cs
  Streetcode/Streetcode.WebApi/Extensions/ServiceCollectionExtensions.cs
  Streetcode/Streetcode.WebApi/Program.cs
  Streetcode/Streetcode.WebApi/Properties/launchSettings.json
  Streetcode/Streetcode.WebApi/appsettings.json
Labels: (Epic#2) Admin/New StreetCode

#175 Catalog. Backend pagination.
  Streetcode/Streetcode.BLL/Mapping/Streetcode/CatalogProfile.cs
  Streetcode/Streetcode.BLL/MediatR/Streetcode/Streetcode/GetAllCatalog/GetAllStreetcodesCatalogHandler.cs
  Streetcode/Streetcode.BLL/MediatR/Streetcode/Streetcode/GetAllCatalog/GetAllStreetcodesCatalogQuery.cs
  Streetcode/Streetcode.BLL/MediatR/Streetcode/Streetcode/GetCount/GetStreetcodesCountHander.cs
  Streetcode/Streetcode.BLL/MediatR/Streetcode/Streetcode/GetCount/GetStreetcodesCountQuery.cs
  Streetcode/Streetcode.WebApi/Controllers/Streetcode/StreetcodeController.cs
Labels: (Epic#3) Other pages

#161 Unit test for related terms getpartnersshort
  Streetcode/Streetcode.XUnitTest/MediatRTests/StreetCode/RelatedTerm/Create/CreateRelatedTermHandlerTests.cs
  Streetcode/Streetcode.XUnitTest/MediatRTests/StreetCode/RelatedTerm/Delete/DeleteRelatedTermHandlerTests.cs
  Streetcode/Streetcode.XUnitTest/MediatRTests/StreetCode/RelatedTerm/GetAllByTermId/GetAllRelatedTermsByTermIdHandlerTest.cs
  Streetcode/Streetcode.XUnitTest/Streetcode.XUnitTest.csproj
Labels: issue

#176 Seeding last fixes (Nuke)
  .nuke/build.schema.json
  Streetcode/DbUpdate/DbUpdate.csproj
  Streetcode/DbUpdate/Program.cs
  Streetcode/Streetcode.WebApi/Extensions/WebApplicationExtensions.cs
  Streetcode/Streetcode.WebApi/Program.cs
  Streetcode/Streetcode.WebApi/Streetcode.WebApi.csproj
  Streetcode/Streetcode.sln
  build/Targets/AttributesBuild.cs
  build/Targets/DatabaseBuild.cs
  build/_build.csproj
Labels: (Epic#2) Admin/New StreetCode

#156 Implement tests to Term and HistoricalContext
  Streetcode/Streetcode.BLL/MediatR/Streetcode/Term/Delete/DeleteTermHandler.cs
  Streetcode/Streetcode.BLL/MediatR/Streetcode/Term/Update/UpdateTermCommand.cs
  Streetcode/Streetcode.BLL/MediatR/Streetcode/Term/Update/UpdateTermHandler.cs
  Streetcode/Streetcode.WebApi/Controllers/Streetcode/TextContent/TermController.cs
  Streetcode/Streetcode.XUnitTest/MediatRTests/StreetCode/Terms/CreateTermHandlerTests.cs
  Streetcode/Streetcode.XUnitTest/MediatRTests/StreetCode/Terms/DeleteTermHendlerTests.cs
  Streetcode/Streetcode.XUnitTest/MediatRTests/StreetCode/Terms/UpdateTermHendlerTests.cs
  Streetcode/Streetcode.XUnitTest/MediatRTests/Timeline/HistoricalContextTests/GetAllHistoricalContextTest.cs
Labels: issue
